{{ 'collage.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-modal-video.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="page-sec expertise-sec">
  <header class="page-sec-header">
    {% if section.settings.heading != blank %}
      <h2>{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.discription != blank %}
      <p>{{ section.settings.discription }}</p>
      {% endif %}
  </header>
  <div class="container-fluid mw-1200">
      <div class="row">
        {% for block in section.blocks %}
          <div class="col-sm-6 col-lg-4">
              <div class="es-card">
                  <i class="es-card-icon icon-cd-custom-software-dev"></i>
                  {% if block.settings.heading != blank %}
                    <h3>{{ block.settings.heading }}</h3>
                  {% endif %}
                  {% if block.settings.discription != blank %}
                    <p>{{ block.settings.discription }}</p>
                  {% endif %}
                  {% if block.settings.btn_title != blank %}
                  <span class="es-card-more">{{ block.settings.btn_title }}<i class="fas fa-long-arrow-alt-right"></i></span>
                  {% endif %}
                  {% if block.settings.btn_link != blank %}
                  <a href="{{ block.settings.btn_link }}" class="stretched-link"></a>
                  {% endif %}
              </div>
          </div>
        {% endfor %}
      </div>
  </div>
</section>

{% schema %}
{
  "name": "Add section",
  "settings": [
    {
      "type":"text",
      "id":"heading",
      "label":"Heading"
     },
     {
      "type":"textarea",
      "id":"discription",
      "label":"discription"
    }
  ],

  "blocks":[
    {
      "type": "block-1",
      "name": "Add Card",
      "settings": [
        {
            "type":"image_picker",
            "id":"myimage",
            "label":"select image"
        },
        {
            "type":"text",
            "id":"heading",
            "label":"Heading"
        },
        {
            "type":"textarea",
            "id":"discription",
            "label":"discription"
        },
        {
          "type":"text",
          "id":"btn_title",
          "label":"Heading"
       },
        {
          "type":"url",
          "id":"btn_link",
          "label":"Read More link"
      }
      ]
    }
  
  ]
  }
{% endschema %}