{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>



<footer class="site-footer">
  <div class="container-fluid mw-1200">
      <div class="row">
          <div class="col-md-auto col-sm-6">
              <div class="sf-col sf-col-nap">
                {% if section.settings.heading != blank %}
                <h5>{{ section.settings.heading }}</h5>
                {% endif %}
                  <ul>
                    {% if section.settings.footer_url != blank %}
                      <li><a href="{{ section.settings.footer_url }}"><i class="{{ section.settings.mail_icon }}"></i>{{ section.settings.email }}</a></li>
                    {% endif %}
                      {% if section.settings.phone != blank %}
                      <li><a href="{{ section.settings.phone_link }}" class="tel"><i class="{{ section.settings.phone_icon }}"></i>{{ section.settings.phone }}</a></li>
                    {% endif %} 
                      {% if section.settings.content != blank %}
                        {{ section.settings.content }}
                          {% endif %}
                      </li>
                  </ul> 
              </div>
          </div>
         {% for block in section.blocks %}
          <div class="col-md-3 col-sm-6">
              <div class="sf-col">
                {% if block.settings.heading != blank %}
                   <h5>{{ block.settings.heading }}</h5>
                  {% endif %}  
                  {%- if block.settings.menu != blank -%}
                    <ul>
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="{% if link.active %} {% endif %}">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                
              </div>
          </div>
        {% endfor %}
      </div>
  </div>
  
  
  <div class="site-footer-bottom "style="background:{{ section.settings.custom_background_color }}">
    <div class="container-fluid mw-1200">
        <ul class="footer-bottom-links-wrapper">
              {% for link in section.settings.menu.links %}
              <li>
                  <a href="{{ link.url }}" class="{% if link.active %} {% endif %}">
                  {{ link.title }}
                  </a>
              </li>
            {% endfor %}
              </ul>
       
        <div class="reviews-ratings order-md-2 d-inline-flex">
          <div style="width:335px; background-color: #FFF;">
            {% if section.settings.content_footer != blank %}
              {{ section.settings.content_footer }}
            {% endif %}
          </div>
        </div>
          {% if section.settings.copyright != blank %}
            <p>{{ section.settings.copyright }}</p>
          {% endif %}
    </div>
</div>
</footer>




{% schema %}
{
  "name": "footer info",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "url",
      "id": "footer_url",
      "label": "Email url"
    },
    {
      "type": "text",
      "id": "mail_icon",
      "label": "icon"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email"
    },
    {
      "type": "url",
      "id": "phone_link",
      "label": "phone link"
    },
    {
      "type": "text",
      "id": "phone_icon",
      "label": "icon"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone no"
    },
    {
      "type": "html",
      "id": "content",
      "label": "content"
    },
    {
      "type": "color",
      "id": "custom_background_color",
      "label": "Background color",
      "default": "#ccc"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "footer menu"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "copyright text"
    },
    {
      "type": "html",
      "id": "content_footer",
      "label": "content footer"
    }
  ],

  "blocks":[
    {
      "type": "block",
      "name": "Add info",
      "settings": [
          {
            "type":"text",
            "id":"heading",
            "label":"Heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "footer menu"
          }       
      ]
    }
  
  ]
  }
{% endschema %}
