

<section class="site-banner banner-home">
    <div class="container-fluid mw-1200">
        <div class="site-banner-content">
          {% if section.settings.heading != blank %}
            <h1>{{ section.settings.heading }} <span class="text-primary">{{ section.settings.span_text }}</span></h1>
          {% endif %}
          {% if section.settings.discription != blank %}
            <p>{{ section.settings.discription }}</p>
          {% endif %}
            <div class="sbc-btns">
              {% if section.settings.btn_text != blank %}
                <a href="{{ section.settings.button_link }}" class="btn-lets-talk">{{ section.settings.btn_text }}</a>
              {% endif %}
            </div>
        </div>
        {% if section.settings.select_image != blank %}
          <img class="site-banner-img" src="{{ section.settings.select_image | img_url: "600x600"}}" />
          {% endif %}
    </div>
  </section>



{% schema %}

{
    "name": "Hero section",
    "settings": [
        {
            "type":"text",
            "id":"heading",
            "label":"Heading"
        },
        {
            "type":"text",
            "id":"span_text",
            "label":"Span text"
        },
        {
            "type":"textarea",
            "id":"discription",
            "label":"discription"
        },
        {
            "type":"text",
            "id":"btn_text",
            "label":"text"
        },
        {
            "type":"url",
            "id":"button_link",
            "label":"button_link"
        },
        {
            "type":"image_picker",
            "id":"select_image",
            "label":"Select image"
        }
    ],
"presets": [
      {
        "name": "hero section"
      }
    ]
}

{% endschema %}
